

body {
  padding: 0;
  margin: 0;
  font: 14px/1.5 Helvetica, Arial, sans-serif;	
  overflow-x: hidden;	
}


.header {
  background: #585352;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navigation {
  list-style: none;
  margin: 0; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  /*
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
  */	
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
  top: 80px;
  position: relative;
  min-height: 800px;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  background: #c8543c;
  display: flex; 
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  height: 80px;	
}

.main {
  text-align: left;
  background: #ddd;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: lightgreen;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  
}

